<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>mypage - twitter</title>
</head>
<body>
  {{.error}}
  <p>{{.myname}}さんのマイページ</p>
  <p><a href="/logout">ログアウト</a></p>
  <form method="POST" action="/tweets">
    <p><textarea style="min-width:40em; height:5em;"rows="4" cols="12" name="message"></textarea></p>
    <p><input type="submit" value="ツイートする"></p>
  </form>
  <h3>タイムライン</h3>
  {{range .timeline}}
  <table>
    <tbody>
      <tr>
        <td>{{.UserName}}さん　</td>
        <td>{{.CreateAt}}</td>
      </tr>
    </tbody>
  </table>
  <div style="white-space:pre-wrap">{{.Message}}</div>
  <a href="/tweets/{{.TweetId}}/comments">>>コメント</a>
  {{end}}
  <h3>他のユーザー</h3>
  {{range .users}}
  <table>
    <tbody>
      <tr>
        <td><a href="/users/{{.UserId}}">{{.UserName}}さん</a></td>
      </tr>
    </tbody>
  </table>
  {{end}}
</body>
</html>